<ion-view title="Catch Log" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="catchLog-list5">
      <ion-item class="item-thumbnail-left" id="catchLog-list-item28">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="catchLog-list-item30">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="catchLog-list-item29">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <button id="catchLog-button3" class="button button-balanced button-block">Tap me!</button>
  </ion-content>
</ion-view>