<ion-view title="Inventory" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="inventory-container3">
      <ion-list id="inventory-list1">
        <ion-item class="item-avatar" id="inventory-list-item27">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="inventory-list-item26">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="inventory-list-item25">
          <h2>Item</h2>
        </ion-item>
      </ion-list>
    </div>
    <button id="inventory-button1" class="button button-balanced button-block icon-left ion-android-add">Add New Item</button>
  </ion-content>
</ion-view>