<ion-view title="Inventory" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="inventory-container3">
      <ion-list id="inventory-list1">
        <ion-item class="item-avatar" ng-repeat="(key,item) in inventory">
          <img ng-src="{{getImage(key)}}">
          <h2>Amt: {{item.amt}}</h2>
          <h2>Amt: {{item.price}}</h2>
        </ion-item>
      </ion-list>
    </div>
    <button id="inventory-button1" class="button button-balanced button-block icon-left ion-android-add">Add New Item</button>
  </ion-content>
</ion-view>
